{# CGU #}

{% extends 'base.html.twig' %}

{% block title %}Conditions générale d'utilisation{% endblock %}

{% block body %}
<div class="container">

<div class="m-5">

<h1 class="text-center">Conditions Générales d'Utilisation</h1>

<h2>1. Description du Service</h2>
<p>Photovista.com est une plateforme en ligne dédiée à la communauté des photographes. Notre objectif est de permettre aux photographes amateurs et professionnels de partager leurs œuvres, d'interagir avec d'autres membres de la communauté et de bénéficier de ressources liées à la photographie.</p>

<h2>2. Règles de Conduite</h2>
<ul>
    <li>Les utilisateurs doivent respecter les droits d'auteur et les droits de propriété intellectuelle des contenus partagés sur Photovista.com.</li>
    <li>Les utilisateurs sont tenus de respecter les autres membres de la communauté et de ne pas publier de contenu offensant, diffamatoire ou illégal.</li>
    <li>Les utilisateurs sont responsables de la confidentialité de leurs informations de connexion et ne doivent pas partager leurs comptes avec d'autres personnes.</li>
</ul>

<h2>3. Propriété Intellectuelle</h2>
<p>Tous les contenus publiés sur Photovista.com restent la propriété de leurs auteurs respectifs. Toute utilisation non autorisée de ces contenus est strictement interdite.</p>

<h2>4. Protection des Données Personnelles</h2>
<p>Photovista.com collecte, stocke et utilise les données personnelles des utilisateurs conformément à notre Politique de Confidentialité, disponible sur notre site web.</p>

<h2>5. Sécurité des Données</h2>
<p>Nous mettons en place des mesures de sécurité pour protéger les données des utilisateurs, mais nous ne pouvons garantir une sécurité absolue. Les utilisateurs sont invités à prendre des précautions pour protéger leurs données.</p>

<h2>6. Résiliation de Compte</h2>
<p>Les utilisateurs ont le droit de résilier leur compte à tout moment. Nous nous réservons le droit de résilier un compte en cas de violation des CGU.</p>

<h2>7. Modifications des CGU</h2>
<p>Nous pouvons mettre à jour ces CGU de temps à autre. Les utilisateurs seront informés des modifications importantes.</p>

<h2>8. Limitation de Responsabilité</h2>
<p>Photovista.com décline toute responsabilité en cas d'interruption de service ou de problèmes techniques. Les utilisateurs utilisent le service à leurs propres risques.</p>

<h2>9. Lois Applicables et Juridiction</h2>
<p>Ces CGU sont régies par les lois en vigueur. Tout litige sera soumis à la juridiction compétente.</p>

<h2>10. Contact</h2>
<p>Pour toute question concernant les CGU, veuillez nous contacter à l'adresse suivante : contact@photovista.com</p>
</div>
</div>

{% endblock %}