{# Politique de confidentialité #}

{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
<div class="container">

<div class="m-5">

<h1 class="text-center">Politique de Confidentialité</h1>

{# <p>Dernière mise à jour : [Date de la dernière mise à jour]</p> #}

<p>Merci d'utiliser Photovista. La présente politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles. En utilisant notre service, vous consentez à notre politique de confidentialité.</p>

<h2>1. Collecte des Données</h2>
<p>Nous collectons les données personnelles suivantes :</p>
<ul>
    <li>Nom, prénom, adresse e-mail, date de naissance</li>
    <li>Informations de connexion (nom d'utilisateur, mot de passe)</li>
    <li>Données de profil (photo de profil, biographie, préférences)</li>
</ul>

<h2>2. Utilisation des Données</h2>
<p>Nous utilisons vos données personnelles pour les finalités suivantes :</p>
<ul>
    <li>Fournir, maintenir et améliorer nos services</li>
    <li>Vous contacter pour des mises à jour, des informations ou des offres spéciales</li>
    <li>Personnaliser votre expérience sur Photovista</li>
</ul>

<h2>3. Protection des Données</h2>
<p>Nous mettons en place des mesures de sécurité pour protéger vos données personnelles contre tout accès non autorisé, perte ou divulgation.</p>

<h2>4. Partage des Données</h2>
<p>Nous ne partageons pas vos données personnelles avec des tiers sans votre consentement, sauf lorsque cela est nécessaire pour fournir nos services ou lorsque la loi l'exige.</p>

<h2>5. Droits des Utilisateurs</h2>
<p>Vous avez le droit d'accéder, de rectifier, de supprimer ou de demander la portabilité de vos données personnelles. Vous pouvez également vous opposer au traitement de vos données personnelles.</p>

{# <h2>6. Cookies</h2>
<p>Nous utilisons des cookies pour améliorer votre expérience sur notre site web. Vous pouvez gérer les préférences de cookies dans les paramètres de votre navigateur.</p> #}

<h2>6. Contact</h2>
<p>Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à l'adresse suivante : contact@photovista.com.</p>

</div>
</div>

{% endblock %}