{# RGPD #}

{% extends 'base.html.twig' %}

{% block title %}RGPD{% endblock %}

{% block body %}
<div class="container">

<div class="m-5">

<h1 class="text-center">RGPD</h1>

<p>Merci d'utiliser Photovista. Nous sommes déterminés à protéger vos données personnelles et à respecter vos droits en vertu du RGPD. Cette page explique vos droits concernant vos données personnelles.</p>

<h2>1. Droit d'Accès</h2>
<p>Vous avez le droit d'accéder aux données personnelles que nous détenons à votre sujet. Vous pouvez obtenir une copie de ces données en nous contactant à l'adresse contact@photovista.com.</p>

<h2>2. Droit de Rectification</h2>
<p>Si vos données personnelles sont incorrectes ou incomplètes, vous avez le droit de les faire rectifier. Vous pouvez mettre à jour vos informations dans votre compte Photovista ou nous contacter pour demander une correction.</p>

<h2>3. Droit à l'Oubli</h2>
<p>Vous avez le droit de demander la suppression de vos données personnelles de nos systèmes. Nous effacerons vos données dans les plus brefs délais, sauf si nous avons des obligations légales ou contractuelles qui nous obligent à les conserver.</p>

<h2>4. Droit à la Portabilité des Données</h2>
<p>Vous avez le droit de recevoir vos données personnelles dans un format structuré et couramment utilisé, et de les transmettre à un autre responsable du traitement si cela est techniquement possible.</p>

<h2>5. Droit d'Opposition au Traitement</h2>
<p>Vous avez le droit de vous opposer au traitement de vos données personnelles pour des raisons liées à votre situation particulière, sauf si nous démontrons des motifs légitimes pour le traitement qui prévalent sur vos intérêts, droits et libertés.</p>

<h2>6. Droit de Déposer une Plainte</h2>
<p>Si vous estimez que vos droits en matière de protection des données ont été violés, vous avez le droit de déposer une plainte auprès de l'autorité de contrôle compétente en matière de protection des données.</p>

<h2>7. Contact</h2>
<p>Si vous avez des questions concernant vos droits en matière de protection des données ou si vous souhaitez exercer l'un de ces droits, veuillez nous contacter à l'adresse suivante : contact@photovista.com. Nous sommes là pour vous aider.</p>
</div>
</div>

{% endblock %}