.promo-banner {
  background-image: url("/images/banniere.jpg");
  background-size: cover;
  /* background-position: center; */
  height: 400px;
}

.promo-content{
  margin-top: 5rem;
}

.promo-title{
  text-align: center;
  color: white;
}

.promo-description{
  text-align: center;
  color: white;
}