<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white text-center">&copy; 2023 PhotoVista.com. Tous droits réservés.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled text-white footer-links">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
